html {
  Background-color:tan;
  font-family:verdana;
}
header {
    background-color: tan;
    font-size: 30px;
}
h1 {
  font-size: 50px;
  font-family: montserrat;
  font-weight: bold;
}
h2 {
  font-size: 25px;
  font-family: motserrat;
  font-weight: normal;
}
ul {
    font-size: 10px;
}


  
    
