	caption
	       {
		text-decoration:underline;
		font-size:28px;
		}
            th
            {
                width:300px;
                font-size:40px;
		background-color:lightgreen;
            }
            th,td
            {
                border:1px solid black;
                padding-left:20px;
                padding-right:20px;
                padding-top:30px;
                padding-bottom:30px;
            }
            table
            {
                border-spacing:3px;
            }
